@charset "UTF-8";
html {
  box-sizing: border-box;
}

*, ::after, ::before {
  box-sizing: inherit;
}

.phone-only {
  display: block;
}

.phone-no {
  display: none;
}

.fade {
  -webkit-animation-name: fade;
          animation-name: fade;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
img {
  max-width: 100%;
}

.body {
  margin: 0;
  background-color: #F7F7F7;
  font-family: "Roboto", sans-serif;
}

.main {
  margin: 0;
  padding: 0;
  background-color: rgba(255, 255, 255, 0);
}

.section {
  padding: 30px;
}

.bold {
  font-weight: bold;
}

.important {
  font-weight: 500;
  color: #4A7C85;
  padding-top: 20px;
}

.important + .important {
  padding-top: 5px;
}

.title {
  color: white;
  margin: 5px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 56px;
}
.title--blue {
  color: #4A7C85;
}
.title--news {
  margin-bottom: 30px;
}
.title--where {
  text-align: right;
}
.title--clicker {
  color: #EBFEDE;
}
.title--text-banner {
  color: #4A7C85;
}
.title--price {
  font-size: 60px;
}
.title--table {
  flex-basis: 21%;
  font-size: 40px;
}

.subtitle {
  color: white;
  margin: 5px;
  font-family: "Shadows Into Light", cursive;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 48px;
}
.subtitle--price {
  font-size: 50px;
}

@media screen and (max-width: 425px) {
  .title--header {
    font-size: 44px;
  }

  .subtitle--header {
    font-size: 30px;
  }
}
@media screen and (min-width: 474px) {
  .title--header {
    font-size: 54px;
  }

  .subtitle--header {
    font-size: 34px;
  }
}
@media screen and (min-width: 584px) {
  .title--header {
    font-size: 58px;
  }

  .subtitle--header {
    font-size: 44px;
  }
}
@media screen and (min-width: 650px) {
  .title--header {
    color: #336081;
    font-size: 60px;
  }

  .subtitle--header {
    color: #336081;
    font-size: 40px;
  }
}
@media screen and (min-width: 1025px) {
  .subtitle {
    font-size: 50px;
  }
}
@media screen and (min-width: 1200px) {
  .title--header {
    font-size: 76px;
  }

  .subtitle--header {
    font-size: 50px;
    margin-top: 20px;
  }
}
.button {
  background-color: #E3E3E3;
  padding: 8px 40px;
  border-radius: 20px;
  color: #336081;
  text-decoration: none;
  display: inline-block;
  box-shadow: 2px 3px 3px #888888;
}
.button--navbar {
  border: 3px solid #336081;
  margin-left: 10px;
  background-color: #F7F7F7;
  font-size: 20px;
  box-shadow: 2px 3px 3px rgba(136, 136, 136, 0.4745098039);
  padding: 15px 40px;
  border-radius: 40px;
  cursor: pointer;
}
.button--navbar:hover {
  border: none;
  background: linear-gradient(180deg, #336081 -9.8%, #4A7C85 100%);
  padding: 15px 43px;
  color: white;
}
.button--news {
  color: white;
  background-color: rgba(48, 87, 94, 0);
  border: 3px solid white;
  box-shadow: 2px 3px 3px #336081;
  margin-top: 20px;
  transition: 0.1s;
}
.button--news:hover {
  background-color: linear-gradient(180deg, #336081 -9.8%, #4A7C85 100%);
  color: #EBFEDE;
}
.button--news-article {
  opacity: 0.8;
  transition: 0.2s;
  padding: 8px 36px 8px 40px;
}
.button--news-article:hover {
  opacity: 1;
}
.button--news::after, .button--news-article::after {
  content: "»";
  display: inline-block;
  margin-left: 5px;
  font-size: 1.2em;
  transition: 0.5s;
  opacity: 1;
}
.button--about {
  background: #E3E3E3;
  padding: 12px 37px;
  border: 3px solid #4A7C85;
  color: #4A7C85;
  font: "Roboto", sans-serif;
  align-items: center;
  text-align: center;
  margin: 5px auto;
  display: inline-block;
}
.button--about:hover {
  border: none;
  padding: 15px 40px;
  background: linear-gradient(180deg, #336081 -9.8%, #4A7C85 100%);
  color: white;
}
.button--arrow {
  border: 3px solid #336081;
  margin-left: 10px;
  margin-top: 10px;
  background-color: #F7F7F7;
  font-size: 20px;
  box-shadow: 2px 3px 3px rgba(136, 136, 136, 0.4745098039);
  padding: 15px 25px 15px 40px;
  border-radius: 40px;
  cursor: pointer;
}
.button--arrow:hover {
  border: none;
  background: linear-gradient(180deg, #336081 -9.8%, #4A7C85 100%);
  padding: 18px 28px 18px 43px;
  color: white;
}
.button--arrow::after {
  content: "»";
  transform: rotate(0.25turn);
  display: inline-block;
  margin-left: 15px;
  font-size: 1em;
  transition: 0.5s;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  margin-left: 33px;
  width: 110px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content__link {
  color: #336081;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  transition: 0.2s;
}

.dropdown-content__link:hover {
  background-color: rgb(228, 228, 228);
  padding: 12px 18px;
  border-left: 3px solid #4A7C85;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .button--arrow {
  border: none;
  background: linear-gradient(180deg, #336081 -9.8%, #4A7C85 100%);
  padding: 18px 28px 18px 43px;
  color: white;
}

.navbar {
  position: relative;
}
.navbar-icon {
  cursor: pointer;
  top: 0;
  right: 0;
  padding: 50px;
  position: absolute;
  z-index: 1;
}
.navbar-icon__line {
  width: 50px;
  height: 3px;
  background-color: white;
  margin: 10px 0;
  transition: 0.3s;
}

.nav-buttons {
  display: none;
}

.side-navbar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background: linear-gradient(180deg, #336081 -9.8%, #4A7C85 100%);
  overflow-x: hidden;
  padding-top: 50px;
  transition: 0.5s;
}

.side-navbar__link {
  padding: 8px 8px 8px 42px;
  text-decoration: none;
  font-style: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 30px;
  color: #E3E3E3;
  display: block;
  transition: 0.3s;
}
.side-navbar__link--margintop {
  margin-top: 50px;
}

.side-navbar__link:hover {
  color: #EBFEDE;
  padding: 8px 8px 8px 44px;
}

.close-icon {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 50px;
  margin: 30px 50px;
}

@media screen and (max-height: 450px) {
  .side-navbar {
    padding-top: 15px;
  }

  .side-navbar__link {
    font-size: 18px;
  }
}
@media screen and (min-width: 650px) {
  .navbar-icon__line {
    background-color: #4A7C85;
  }

  .nav-buttons {
    display: inline-block;
    margin: 40px;
  }

  .button--navbar-sport {
    display: none;
  }
}
@media screen and (min-width: 710px) {
  .nav-buttons {
    display: inline-block;
    align-items: center;
    display: flex;
    margin: 0;
    padding: 30px;
  }

  .button--navbar {
    margin-top: 10px;
  }

  .button--navbar-sport {
    display: inline-block;
    width: 170px;
    padding: 3px 40px;
    text-align: center;
  }
  .button--navbar-sport:hover {
    border: none;
    background: linear-gradient(180deg, #336081 -9.8%, #4A7C85 100%);
    padding: 5px 43px;
    color: white;
  }
}
@media screen and (min-width: 900px) {
  .navbar-icon {
    display: none;
  }
}
.message {
  background-color: #EBFEDE;
  color: #336081;
}
.message__content {
  text-align: center;
}
.message__title {
  font-size: 25px;
  font-weight: 400;
  margin-bottom: 8px;
}
.message__text {
  font-weight: 400;
  margin-top: 8px;
}

@media screen and (max-width: 790px) {
  .message__title {
    font-size: 20px;
  }
}
.slide-container {
  position: relative;
  margin: auto;
  width: 100%;
  max-height: 400px;
  -o-object-fit: contain;
     object-fit: contain;
}

.slide {
  display: none;
  max-height: 400px;
  overflow: hidden;
  border-radius: 100px;
}

.previous,
.next {
  background-color: rgba(67, 67, 67, 0.438);
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.previous:hover, .next:hover {
  background-color: rgba(33, 33, 33, 0.8);
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 200px;
  grid-gap: 15px;
}
.gallery__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.gallery__item {
  transition: 0.3s;
}
.gallery__item:hover {
  cursor: pointer;
  opacity: 0.5;
}
.gallery__item--5 {
  grid-row: span 2;
  grid-column: span 2;
}
.gallery__item--10 {
  grid-row: span 2;
}

@media screen and (max-width: 790px) {
  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }
  .gallery__item--15 {
    grid-row: span 2;
  }
}
@media screen and (max-width: 500px) {
  .gallery {
    grid-template-columns: repeat(1, 1fr);
  }
  .gallery__item--15 {
    grid-row: span 2;
  }
  .gallery__item--5 {
    grid-row: span 2;
    grid-column: span 1;
  }
  .gallery__item--10 {
    grid-row: span 2;
  }
}
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 50px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(41, 41, 41);
}

.modal__content {
  position: relative;
  background-color: rgba(29, 29, 29, 0.768627451);
  padding: 0;
  margin: 30px auto;
  max-width: 1100px;
  max-height: 700px;
}

.close--modal {
  color: white;
  position: absolute;
  top: 10px;
  right: 30px;
  font-size: 40px;
  font-weight: 200;
  transition: 0.2s ease;
}

.close--modal:hover,
.close--modal:focus {
  color: #4A7C85;
  text-decoration: none;
  cursor: pointer;
}

.modal__slide {
  display: none;
  margin: 30px auto;
  max-width: 1100px;
  height: 600px;
  -o-object-fit: contain;
     object-fit: contain;
}

.previous--modal,
.next--modal {
  cursor: pointer;
  position: absolute;
  top: 55%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: 200;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none;
}

.next--modal {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.previous--modal:hover,
.next--modal:hover {
  background-color: rgba(74, 124, 133, 0.8352941176);
}

.low-opacity {
  opacity: 0.6;
}

.active,
.low-opacity:hover {
  opacity: 1;
}

.news {
  background-image: url(/images/news-rectangle.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: top left;
  background-color: rgba(255, 255, 255, 0);
  padding: 30px;
}

.news-article {
  background-color: white;
  max-width: 370px;
  color: #000000;
  border-radius: 30px;
  padding: 30px;
  margin-bottom: 20px;
}
.news-article__title {
  margin: 0;
}
.news-article__date {
  color: rgb(66, 66, 66);
}

.about {
  background-color: #E3E3E3;
  margin: 0;
}
.about__text {
  text-align: justify;
  padding: 10px;
}
.about__div-img {
  margin: 30px auto 0 auto;
  max-width: 350px;
}

.where__text {
  margin-top: 30px;
  text-align: justify;
  max-width: 400px;
}
.where__img {
  margin-top: 40px;
  max-width: 400px;
  margin-right: auto;
  margin-left: auto;
}

.follow {
  background: linear-gradient(180deg, #336081 -9.8%, #4A7C85 100%);
}
.follow__link {
  display: inline-block;
  padding-left: 20px;
  font-size: 20px;
  text-decoration: none;
  align-items: center;
  text-align: right;
  color: #EBFEDE;
}
.follow__text {
  display: inline-block;
  padding-left: 20px;
  font-size: 20px;
  align-items: center;
  text-align: right;
  color: white;
}

.img-section {
  min-height: 150px;
  overflow: hidden;
  position: relative;
  background: linear-gradient(261.63deg, rgba(235, 254, 222, 0.6) 29.78%, rgba(74, 124, 133, 0.6) 96.2%);
}
.img-section__img {
  -o-object-fit: contain;
     object-fit: contain;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
}

@media screen and (max-width: 425px) {
  .news {
    background-image: none;
    background-color: #336081;
  }
}
@media screen and (min-width: 650px) {
  .box {
    text-align: right;
  }

  .news {
    background-image: none;
    background: linear-gradient(180deg, #336081 -9.8%, #4A7C85 100%);
    padding: 50px;
  }
  .news__content {
    max-width: 450px;
  }
  .news-article {
    max-width: 450px;
  }

  .about__div-img {
    display: none;
  }

  .title--where {
    text-align: left;
  }

  .about,
.where,
.follow {
    padding: 50px;
  }
}
@media screen and (min-width: 710px) {
  .flex-container {
    display: flex;
  }

  .flex-container--news {
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .news {
    background-image: none;
    background: linear-gradient(180deg, #336081 -9.8%, #4A7C85 100%);
  }
  .news__content {
    max-width: -webkit-max-content;
    max-width: -moz-max-content;
    max-width: max-content;
  }

  .news-article {
    margin-right: 30px;
    flex-basis: 1;
  }

  .about__text {
    flex: 1.1;
    max-width: 430px;
    margin-right: 20px;
  }
  .about__div-img {
    display: block;
  }

  .title--where {
    text-align: right;
  }

  .where {
    text-align: right;
    background-image: url(/images/how_to_get_here.png);
    background-position: top left;
    background-repeat: no-repeat;
    background-size: contain;
  }
  .where__text {
    margin-left: auto;
    max-width: 400px;
  }
  .where__img {
    margin-top: 40px;
    max-width: 400px;
    display: inline-block;
  }

  .img-section {
    min-height: 250px;
  }

  .follow {
    padding-left: 60px;
  }
  .follow__link {
    margin-left: 20%;
  }
}
@media screen and (min-width: 900px) {
  .PC-max-width {
    max-width: 1000px;
    margin-right: auto;
    margin-left: auto;
  }

  .flex-container--where {
    display: flex;
  }

  .where {
    text-align: right;
    background-image: none;
    background-position: center left;
    background-repeat: no-repeat;
    background-size: 400px;
  }
  .where__text {
    margin-left: auto;
    max-width: 400px;
  }
  .where__img {
    margin-top: 40px;
    max-width: 500px;
    display: inline-block;
    order: -1;
  }

  .follow {
    padding-left: 100px;
  }
  .follow__link {
    font-size: 24px;
  }
  .follow__text {
    font-size: 24px;
  }

  .img-section {
    min-height: 350px;
  }

  .blue {
    background: linear-gradient(261.63deg, rgba(235, 254, 222, 0.6) 29.78%, rgba(74, 124, 133, 0.6) 96.2%);
  }
}
@media screen and (min-width: 1025px) {
  .PC-max-width--news {
    max-width: 1300px;
    margin-right: auto;
    margin-left: auto;
  }

  .news-article {
    max-width: 380px;
    padding: 30px;
    margin-bottom: 20px;
  }
  .news-article__title {
    margin: 0;
  }
  .news-article__date {
    color: rgb(66, 66, 66);
  }
}
@media screen and (min-width: 1200px) {
  .news {
    background-image: url(/images/rectangle-all.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }

  .news {
    padding: 140px 20px;
    margin-left: 40px;
  }
}
.body--cenik {
  background-color: #F7F7F7;
  font-family: "Roboto", sans-serif;
  margin: 0;
}

.main-price-list {
  display: flex;
  align-content: stretch;
  margin-bottom: 50px;
}

.text-banner {
  flex: 1.5;
  background-color: #EBFEDE;
  color: #336081;
  box-shadow: 3px 3px 5px rgba(110, 110, 110, 0.5921568627);
  border-radius: 60px;
  padding: 0px;
  text-align: left;
  font-weight: 400;
}

.table-banner {
  flex: 3;
  display: none;
}

.clicker {
  margin-left: 30px;
}
.clicker__menu {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0;
  padding: 0;
}
.clicker__menu-item {
  list-style: none;
  margin-bottom: 0;
}
.clicker__link {
  color: white;
  min-height: 50px;
  text-decoration: none;
  text-align: center;
  place-self: end center;
  background-color: #4A7C85;
  margin: 0 5px 0 0;
  padding: 5px;
  border-radius: 20px 20px 0 0;
  border: 1px solid #4A7C85;
  transition: 0.3s;
}
.clicker__link:hover {
  color: #EBFEDE;
  background-color: #336081;
  border-bottom: 2px solid #EBFEDE;
  padding: 10px 5px;
}
.clicker__link--active {
  color: #EBFEDE;
  background-color: #336081;
  padding: 15px 5px;
  border: 1px solid #4A7C85;
  border-bottom: none;
}
.clicker__link--active:hover {
  color: #EBFEDE;
  background-color: #336081;
  padding: 15px 5px;
  border: 1px solid #4A7C85;
  border-bottom: none;
}
.clicker__link--last {
  margin: 0;
}
.clicker__content, .clicker .table {
  background: linear-gradient(180deg, #336081 -9.8%, #4A7C85 100%);
  margin-top: 0;
  padding: 40px;
  box-shadow: 3px 3px 5px rgba(110, 110, 110, 0.5921568627);
  border-radius: 0 0 60px 60px;
  min-height: 490px;
}
.clicker__flexbox {
  display: flex;
  gap: 30px;
}

.info-list {
  background-color: #E3E3E3;
  color: #336081;
}
.info-list__bullet {
  display: inline-block;
  margin: 5px;
  line-height: 1.5em;
}

.price-list__box {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
}

.table {
  flex-basis: 30%;
  background: linear-gradient(180deg, #336081 -9.8%, #4A7C85 100%);
  padding: 30px;
  margin: 30px 0;
  border-radius: 40px;
  box-shadow: 3px 3px 5px rgba(110, 110, 110, 0.5921568627);
  display: flex;
  flex-direction: column;
  justify-content: end;
}
.table--big {
  flex-basis: 47%;
}
.table--max {
  flex-basis: 100%;
}
.table__flexbox {
  display: flex;
  gap: 20px;
  align-self: left;
}
.table__column--sport {
  text-align: left;
  margin: 5px;
  display: inline-block;
}

.price-table {
  text-align: center;
  margin-top: 40px;
  flex-grow: 1;
}
.price-table__row {
  padding: 5px;
  background-color: #F7F7F7;
}
.price-table__column {
  border-bottom: 2px solid #4A7C85;
  border: 2px solid #4A7C85;
  padding: 10px;
}
.price-table--flex {
  min-width: 45%;
}

@media screen and (max-width: 527px) {
  .price-list__box {
    max-width: 300px;
    margin: auto;
    overflow-x: scroll;
  }

  .table {
    min-width: 380px;
    margin: auto;
  }
  .table__flexbox {
    flex-direction: column;
    gap: 0;
  }
}
@media screen and (min-width: 650px) {
  .phone-only {
    display: none;
  }

  .phone-no, .table-banner {
    display: block;
  }

  .text-banner {
    padding: 30px;
  }
}
@media screen and (max-width: 650px) {
  .title--text-banner {
    padding: 0px 20px;
  }
}
@media screen and (max-width: 710px) {
  .text-banner__text {
    padding: 0px 30px;
    margin: 0;
  }
}
@media screen and (max-width: 900px) {
  .main-price-list {
    flex-direction: column;
    margin-bottom: 0px;
    padding-bottom: 50px;
    background-color: #EBFEDE;
  }

  .text-banner {
    flex: 1;
    background-color: none;
    box-shadow: none;
  }
  .text-banner__text {
    padding: 10px 30px 0 30px;
  }

  .table-banner {
    flex: 1;
    max-width: 700px;
    margin: auto;
  }

  .clicker {
    margin-left: 0;
  }
}
@media screen and (max-width: 845px) {
  .price-list__box {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
    flex-direction: column;
    max-width: 600px;
    margin: auto;
  }

  .table--big {
    flex-basis: 100%;
  }
  .table--last {
    flex-basis: 100%;
  }
  .table--max {
    flex-basis: 100%;
  }
}
@media screen and (max-width: 1000px) {
  .table {
    flex-basis: 47%;
  }
  .table--big {
    flex-basis: 47%;
  }
  .table--last {
    flex-basis: 30%;
  }
  .table--max {
    flex-basis: 60%;
  }
}
.body--skiareal {
  background-color: #F7F7F7;
  font-family: "Roboto", sans-serif;
  margin: 0;
}

.about__left {
  flex-basis: 40%;
}

.about__right {
  max-width: 450px;
  flex-basis: 50%;
}

.flex-container--skiareal {
  justify-content: space-between;
}

.table--skiareal {
  border-radius: 20px;
  background: linear-gradient(180deg, #336081 -9.8%, #4A7C85 100%);
  color: white;
  box-shadow: 3px 3px 5px rgba(110, 110, 110, 0.5921568627);
  text-align: right;
}
.table--skiareal:hover {
  background: #336081;
  color: #EBFEDE;
}

.table__column--skiareal {
  padding: 5px 10px;
  width: 200px;
}

.table__column--border {
  border-right: 3px solid white;
}

.food {
  background: linear-gradient(180deg, #336081 -9.8%, #4A7C85 100%);
  color: white;
  padding: 60px 0;
}

.flex-container--food {
  align-items: center;
}

.flex-container__right {
  flex-basis: 40%;
  text-align: justify;
  margin: 20px 30px 20px 30px;
}

.flex-container__left {
  margin: 40px 30px 0 20px;
  flex-basis: 60%;
}

@media screen and (max-width: 500px) {
  .food {
    padding: 60px 20px;
  }
}
@media screen and (max-width: 528px) {
  .table--skiareal {
    border-radius: 20px;
    padding: 20px 5px;
    overflow-x: scroll;
    margin-bottom: 20px;
  }

  .flex-container--skiareal {
    justify-content: space-between;
    overflow-x: scroll;
    padding-bottom: 30px;
  }
}
@media screen and (max-width: 790px) {
  .flex-container--skiareal {
    flex-direction: column;
  }

  .about__table {
    width: 100%;
  }

  .button--skiareal {
    margin: 0;
  }
}
@media screen and (max-width: 500px) {
  .flex-container__right--food {
    margin: 10px;
  }
}
.big-news {
  background: linear-gradient(180deg, #336081 -9.8%, #4A7C85 100%);
  padding-top: 60px;
}
.big-news__container {
  display: grid;
}

.news-article--big {
  max-width: 700px;
  text-align: justify;
}

@media screen and (max-width: 710px) {
  .news-article--big {
    max-width: 700px;
  }
}
.contact {
  background: linear-gradient(180deg, #336081 -9.8%, #4A7C85 100%);
  box-shadow: 2px 3px 4px #888888;
}
.contact__list {
  background-color: #F7F7F7;
  color: #4A7C85;
  box-shadow: 2px 3px 3px rgba(63, 60, 60, 0.5960784314);
  transition: 0.47s;
  padding: 50px 30px;
  margin-top: 30px;
  margin-bottom: 40px;
  border-radius: 60px;
  font-size: 20px;
  max-width: 600px;
}
.contact__bullet {
  list-style: none;
  display: block;
  margin: 10px;
}
.contact__text {
  color: white;
  line-height: 1.5em;
}
.contact__link {
  color: #4A7C85;
  text-decoration: none;
}
.contact__text--important {
  color: #4A7C85;
  line-height: 1.5em;
  text-align: justify;
}

.subtitle--contact {
  color: #4A7C85;
  margin-bottom: 30px;
  font-size: 40px;
}

.line {
  position: relative;
  margin-bottom: 50px;
}

.line--self::after {
  content: "";
  display: block;
  width: 120px;
  height: 2px;
  background: #4A7C85;
  left: 0;
  top: 40px;
  position: absolute;
}

@media screen and (max-width: 382px) {
  .contact {
    padding: 0;
    padding-bottom: 10px;
    box-shadow: none;
  }
  .contact__list {
    box-shadow: none;
    border-radius: 0;
    padding: 20px 20px;
    margin-top: 30px;
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 845px) {
  .contact__container {
    display: flex;
    flex-basis: 50%;
    gap: 30px;
    justify-content: space-between;
    align-items: flex-end;
  }
}
.header {
  min-height: 300px;
  background-image: url(/images/header-rectangle.svg);
  background-position: bottom left;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -3;
  margin: 0;
}
.header__text {
  padding: 30px;
  padding-top: 25%;
}
.header__div-picture {
  position: relative;
  min-height: 50px;
  margin-bottom: 250px;
}
.header__picture {
  position: absolute;
  min-height: 300px;
  z-index: -1;
  top: -350px;
  right: 0;
  -o-object-fit: contain;
     object-fit: contain;
}

@media screen and (max-width: 425px) {
  .header {
    background: linear-gradient(180deg, #336081 -9.8%, #4A7C85 100%);
  }

  .header__div-picture {
    display: none;
  }

  .header__text {
    padding-top: 35%;
  }

  /*.header{

      &__div-picture{
          min-height: 50px;
      }
      &__picture{
          top: -150px; 
      }
      &__text{
          padding-top: 35%;
      }
  }*/
}
@media screen and (min-width: 650px) {
  .header {
    min-height: 500px;
    background-image: url(/images/header-img-tablet.svg);
    background-position: center right;
    background-repeat: no-repeat;
    background-size: 45%;
    margin: 0;
  }
  .header__div-picture {
    display: none;
    position: relative;
    max-height: 670px;
  }
  .header__picture {
    display: block;
    position: absolute;
    z-index: -1;
    top: -70px;
    right: 0;
    -o-object-fit: contain;
       object-fit: contain;
    width: -webkit-min-content;
    width: -moz-min-content;
    width: min-content;
    height: 175%;
  }
  .header__text {
    padding-top: 10%;
  }
}
@media screen and (min-width: 710px) {
  .header {
    min-height: 500px;
    background-image: url(/images/header-img-tablet.svg);
    background-position: center right;
    background-repeat: no-repeat;
    background-size: 45%;
    margin: 0;
  }
}
@media screen and (min-width: 900px) {
  .header {
    min-height: 500px;
    background-image: url(/images/imgheader.svg);
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: 48%;
    margin-top: 20px;
    max-width: 1000px;
    margin-right: auto;
    margin-left: auto;
  }

  .navbar-icon {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .header__div-picture {
    display: none;
    background-repeat: no-repeat;
  }
}
.footer {
  padding: 20px;
  text-align: center;
  background-color: #FFFFFF;
  color: #4A7C85;
}/*# sourceMappingURL=style.css.map */