@use "variables";
@use "basic";
@use "components";
@use "index";


// Main -----------------------------------------------------------
.body--cenik{
    background-color: variables.$background-color;
    font-family: variables.$primary-font ;
    margin: 0;
}
.main-price-list{
    display: flex;
    align-content: stretch;
    margin-bottom: 50px;
}
.text-banner{
    flex: 1.5;
    background-color:  variables.$important-color;
    color:  variables.$blue;
    box-shadow: 3px 3px 5px #6e6e6e97;
    border-radius: 60px;
    padding: 0px;
    text-align: left;
    font-weight: 400;

}
.table-banner{
    flex:3;
    display: none;
}

// Clicker -------------------------------------------------------

.clicker{
    margin-left: 30px;
    &__menu{
        display: flex;
        justify-content: space-between;
        margin-bottom: 0;
        padding: 0;
    }
    &__menu-item{
        list-style: none;
        margin-bottom: 0;
    }
    &__link{
        color: white;
        min-height: 50px;
        text-decoration: none;
        text-align: center;
        place-self:end center;
        background-color:  variables.$light-blue;
        margin: 0 5px 0 0;
        padding: 5px;
        border-radius: 20px 20px 0 0;
        border: 1px solid #4A7C85;
        transition: 0.3s;
    }
    &__link:hover{
        color: variables.$important-color;
        background-color: variables.$blue;
        border-bottom: 2px solid #EBFEDE;
        padding: 10px 5px;
    }
    &__link--active{
        color: variables.$important-color;
        background-color: variables.$blue;
        padding: 15px 5px;
        border: 1px solid #4A7C85;
        border-bottom: none;
    }
    &__link--active:hover{
        color: variables.$important-color;
        background-color: variables.$blue;
        padding: 15px 5px;
        border: 1px solid #4A7C85;
        border-bottom: none;
    }
    &__link--last{
        margin: 0;
    }
    &__content, .table{
        background: variables.$primary-color;
        margin-top: 0;
        padding: 40px;
        box-shadow: 3px 3px 5px #6e6e6e97;
        border-radius: 0 0 60px 60px;
        min-height: 490px;
    }
    &__flexbox{
        display: flex;
        gap: 30px;
    }
}
// Info section ----------------------------------------
.info-list{
    background-color: #E3E3E3;
    color: variables.$blue;
    &__bullet{
        display: inline-block;
        margin: 5px;
        line-height: 1.5em;
    }
}
// Price list section ----------------------------------------------------
.price-list{
    &__box{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;  
        gap:20px;

    }
}
.table{
    flex-basis: 30%;
    
    background: variables.$primary-color;
    padding: 30px;
    margin: 30px 0;
    border-radius: 40px;
    box-shadow: 3px 3px 5px #6e6e6e97;

    display: flex;
    flex-direction: column;
    justify-content: end;
    

    &--big{
        flex-basis: 47%;
    }
    &--max{
        flex-basis: 100%;
    }
    &__flexbox{
        display: flex;
        gap: 20px;
        align-self: left;
    }
    &__column--sport{
        text-align: left;
        margin: 5px;
        display: inline-block;
    }
}
.price-table{
    text-align: center;
    margin-top: 40px;
    flex-grow: 1;
    &__row{
        padding: 5px;
        background-color:  variables.$background-color;
    }
    &__column{
        border-bottom: 2px solid #4A7C85;
        border: 2px solid #4A7C85;
        padding: 10px;
    }
    &--flex{
        min-width: 45%;
    }
}


// Media ---------------------------------------------------------
@media screen and (max-width: 527px){
    .price-list{
        &__box{
            max-width: 300px;
            margin: auto;
            overflow-x: scroll;
        }
    }
    .table{
        min-width: 380px;
        margin: auto;
       
        &__flexbox{
            flex-direction: column;
            gap:0;
        }
    }
}
@media screen and (min-width: 650px){
    .phone-only{
        display: none;
    }
    .phone-no, .table-banner{
        display: block;
    }
    .text-banner{
        padding: 30px;
    }
}
@media screen and (max-width: 650px){
    .title--text-banner{
        padding: 0px 20px;
    }
}
@media screen and (max-width: 710px){
    .text-banner{
        &__text{
            padding: 0px 30px;
            margin: 0;
        }
    }
}
@media screen and (max-width: 900px){
    .main-price-list{
        flex-direction: column;
        margin-bottom: 0px;
        padding-bottom: 50px;
        background-color: variables.$important-color;
    }
    .text-banner{
        flex: 1;
        background-color: none;
        box-shadow: none;
        &__text{
            padding: 10px 30px 0 30px
        }
    }
    .table-banner{
        flex:1;
        max-width: 700px;
        margin: auto;
    }
    .clicker{
        margin-left: 0;
    }
}
@media screen and (max-width: 845px){
    .price-list{
        &__box{
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;  
            gap:20px;
            flex-direction: column;
            max-width: 600px;
            margin: auto;
           
    
        }
    }
    .table{
        &--big{
            flex-basis: 100%;
        }
        &--last{
            flex-basis: 100%;
        }
        &--max{
            flex-basis: 100%;
            
        }
    }
}
@media screen and (max-width: 1000px){
    .table{
        flex-basis: 47%;
        &--big{
            flex-basis: 47%;
        }
        &--last{
            flex-basis: 30%;
        }
        &--max{
            flex-basis: 60%;
        }
    }
}
