@use "variables";

// button

.button{
    background-color: #E3E3E3;
    padding: 8px 40px;
    border-radius: 20px;
    color: #336081;
    text-decoration: none;
    display: inline-block;
    box-shadow: 2px 3px 3px #888888;
    
    &--navbar{
        border: 3px solid #336081;
        margin-left: 10px;
        background-color: variables.$background-color;
        font-size: 20px;
        box-shadow: 2px 3px 3px #88888879;
        padding: 15px 40px;
        border-radius: 40px;
        

    }
    &--navbar:hover{
        border: none;
        background: variables.$primary-color;
        padding: 15px 43px;
        color: white;
        
        

    }
    &--news{
       color: white;
       background-color: #30575e00;
       border: 3px solid white;
       box-shadow: 2px 3px 3px #336081;
       margin-top: 20px;
    }
    &--news:hover{
        background-color: variables.$primary-color;
        color: white;
    }
   
    
    &--about{
        background: #E3E3E3;
        padding: 12px 37px;
        border: 3px solid #4A7C85;
        color: #4A7C85;
        font: variables.$primary-font;
        
        align-items: center;
        text-align: center;
        margin: 5px auto;
        display: inline-block;
    }
    &--about:hover{
       
        border: none;
        padding: 15px 40px;
        background: variables.$primary-color;
        color: white;
    }
    
}
// navbar

.navbar{
    position: relative;  
    
    &-icon{
        cursor: pointer; 
        top: 0;
        right: 0;
        padding: 50px;
        position: absolute;
        z-index: 1;
    }
    &-icon__line{
        width: 50px; 			
        height: 3px; 			
        background-color: white; 		
        margin: 10px 0;			
        transition: 0.3s;
    }
}
.nav-buttons{
    display: none;
}


.side-navbar {
    height: 100%; 
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; 
    z-index: 1; 
    top: 0; 
    right: 0;
    background: variables.$primary-color; 
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 50px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}
  
/* The navigation menu links */
.side-navbar__link {
    padding: 8px 8px 8px 42px;
    text-decoration: none;
    font-style: variables.$primary-font;
    font-weight: 300;
    font-size: 30px;
    color: variables.$light-grey;
    display: block;
    transition: 0.3s;
    
}

.side-navbar__link:hover {
    color: #EBFEDE;
    padding: 8px 8px 8px 44px;
}
  
/* Position and style the close button (top right corner) */
.close-icon {
    //position: absolute;
    top: 0;
    right: 0;
    font-size: 150px;
    margin-left: 50px;
}
  
  
@media screen and (max-height: 450px) {
    .side-navbar {
        padding-top: 15px;
    }
    .side-navbar__link {
        font-size: 18px;
    }
}
@media screen and (min-width: 650px) {
    .navbar-icon__line{
        background-color: #4A7C85; 
    }
    
    .nav-buttons{
        display: inline-block;
        margin: 40px;
    }
    .button--navbar-sport{
        display: none;
    }
}
@media screen and (min-width: 710px) {

    .nav-buttons{
        display: inline-block;
        align-items: center;
        display: flex;
        margin: 0;
        padding: variables.$main-gap;
    }
    .button--navbar{
        margin-top: 10px;
    }
    .button--navbar-sport{
        display: inline-block;
        width: 170px;
        padding: 3px 40px;
        text-align: center;
        &:hover{
            border: none;
            background: variables.$primary-color;
            padding: 5px 43px;
            color: white;
        }
    }
}
@media screen and (min-width: 1000px){
    .navbar-icon{
       padding: 40px 10px;
        
    }
}