@use "variables";
@use "basic";
@use "components";
@use "index";

.body--skiareal{
    background-color: variables.$background-color;
    font-family: variables.$primary-font ;
    margin: 0;
}

.food{
    background: variables.$primary-color;
    color: white;
    padding: 60px 0;
   
}
.about__left{
  flex-basis: 40%;
}
.about__right{
  max-width: 450px;
  flex-basis: 50%;
}
.flex-container--skiareal{
  justify-content: space-between;
}

.table--skiareal{
  border-radius: 20px;
  background: variables.$primary-color;
  color: white;
  box-shadow: 3px 3px 5px #6e6e6e97;
  text-align: right;
  
  &:hover{
    background: #336081;
    color: #EBFEDE;
  }
}

.table__column--skiareal{
  padding: 5px 10px;
  width: 200px;
  
}
.table__column--border{
  border-right: 3px solid white;
}
.flex-container__left{
  margin: 40px;
  text-align: justify;
}
//slideshow galerie

.slide-container {
  position: relative;
  width: 500px;
  max-height: 400px;
  object-fit: contain;
  margin: auto;
}
.slide {
  display: none;
  max-height: 400px;
  overflow: hidden;
  border-radius: 100px;
}
  
.previous, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  background-color: rgba(67, 67, 67, 0.438);
}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.previous:hover, .next:hover {
  background-color: rgba(33, 33, 33, 0.8);
}
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active, .dot:hover {
  background-color: #717171;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}
@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

//gallery

.gallery{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 200px;
  grid-gap: 15px;

  &__img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &__item{
    transition: 0.3s;
  }
  &__item:hover{
    cursor:pointer ;
    opacity: 0.5;
  }
  &__item--5{
    grid-row: span 2;
    grid-column: span 2;
  }
  &__item--10{
    grid-row: span 2;
  }
}


@media screen and (max-width: 850px){
   .flex-container--skiareal{
     flex-direction: column;
   }
   
   .about__right{
     display: flex;
     justify-content: space-between;
     flex-wrap: wrap;
     max-width: 100%;
   }
   .table--skiareal{
    flex-basis: 45%;
  }
  .button--skiareal{
    justify-self: stretch;
    margin: 0;
  }
   
}