@use "variables";
@use "basic";
@use "components";
@use "index";

// Main ----------------------------------------------------------
.body--skiareal{
  background-color: variables.$background-color;
  font-family: variables.$primary-font ;
  margin: 0;
}
// About section ----------------------------------------------------------------

.about__left{
  flex-basis: 40%;
}
.about__right{
  max-width: 450px;
  flex-basis: 50%;
}
.flex-container--skiareal{
  justify-content: space-between;
}
.table--skiareal{
  border-radius: 20px;
  background: variables.$primary-color;
  color: white;
  box-shadow: 3px 3px 5px #6e6e6e97;
  text-align: right;
  &:hover{
    background:  variables.$blue;
    color:  variables.$important-color;
  }
}
.table__column--skiareal{
  padding: 5px 10px;
  width: 200px;
}
.table__column--border{
  border-right: 3px solid white;
}

// Section food ------------------------------------------------------------
.food{
  background: variables.$primary-color;
  color: white;
  padding: 60px 0;
}
.flex-container--food{
  
  align-items: center;
}
.flex-container__right{
  flex-basis: 40%;
  text-align: justify;
  margin: 20px  30px 20px 30px ;
}
.flex-container__left{
  margin: 40px 30px 0 20px;
  flex-basis: 60%;
}

// Media ---------------------------------------------------------------

@media screen and (max-width: 790px){
  .flex-container--skiareal{
    flex-direction: column;
  }
  .about__table{
    width: 100%;
  }
  .button--skiareal{
   margin: 0;
  }
}
@media screen and (max-width: 500px){
  .flex-container__right--food{
    margin: 10px;
  }
}

