
// Colors:
$primary-color: linear-gradient(180deg, #336081 -9.8%, #4A7C85 100%);
$background-color: #F7F7F7;
$light-grey:#E3E3E3;
$text-color: #000000;

// Fonts:
$primary-font:'Roboto', sans-serif;
$secondary-font: 'Shadows Into Light', cursive;

// Padding, margin:
$main-gap: 30px;
$main-gap--tablet: 50px;