@use "variables";
@use "basic";
@use "components";
@use "index";

// header -------------------------------------------------
.header{
    min-height: 300px;
    background-image: url(/images/header-rectangle.svg);
    background-position: bottom left;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -3; 
    margin: 0;

    &__text{
        padding: variables.$main-gap;
        padding-top: 25%;
    } 
    &__div-picture{
        position: relative;
        min-height: 50px;
        margin-bottom: 250px;
    }
    &__picture{
        position: absolute;
        min-height: 300px;
        z-index: -1;
        top: -350px;
        right: 0;
        object-fit: contain;
    }
}

// media-header
@media screen and (max-width: 425px) {

    .header{
        &__div-picture{
            min-height: 50px;
        }
        &__picture{
            top: -150px; 
        }
        &__text{
            padding-top: 35%;
        }
    }
}
@media screen and (min-width: 650px) {
    
    .header{
        min-height: 500px;
        background-image: url(/images/header-img-tablet.svg);
        background-position: center right;
        background-repeat: no-repeat;
        background-size: 45%;
        margin: 0;

        &__div-picture{
           // display: none;
            position: relative;
            max-height: 670px;
        }
        &__picture{
            //display:block;
            position: absolute;
            z-index: -1;
            top: -70px;
            right: 0;
            object-fit: contain;
            width: min-content;
            height: 175%;
        }
        &__text{
            padding-top: 10%;
        }
    }
    
}
@media screen and (min-width: 710px){
    .header{
        min-height: 500px;
        background-image: url(/images/header-img-tablet.svg);
        background-position: center right;
        background-repeat: no-repeat;
        background-size: 45%;
         
        margin: 0;
    }
}
@media screen and (min-width: 900px) {
  
    .header {
      min-height: 500px;
      background-image: url(/images/imgheader.svg);
      background-position: bottom right;
      background-repeat: no-repeat;
      background-size: 48%;
      margin-top: 20px;
      max-width: 1000px;
      margin-right: auto;
      margin-left: auto;
    }
}
@media screen and (min-width: 1200px) {
    .header__div-picture{
        display: none;
    }
}

//footer -----------------------------------------------
.footer{
    padding: 20px;
    text-align: center;
    background-color: #FFFFFF;
    color: #4A7C85;
}




















